.title {
  text-align: center;
  font-size: 2rem;
  /* margin-top: 0.5rem; */
  margin-bottom: 1.5rem;
}

.msg {
  text-align: center;
}

.input-form {
  margin-top: 2.5rem;
}

.userlist {
  overflow-y: auto;
  max-height: 200px;
}

.userlist::-webkit-scrollbar {
  width: 0.2rem;
  border-radius: 5px;
}

.userlist::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.userlist::-webkit-scrollbar-thumb {
  background-color: #7e17df;
}
